<!DOCTYPE html>
<html>
    <head>
      <title>mathematics exercises(TOP)</title>
      <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
      <link rel="stylesheet" href="static/top.css">
    </head>
    <body>
      <header>
        <h1 id="jogo img"><a href="top">
          <img src="/static/images/math1.jpg" alt="mathematics exercises"></a></h1>
      </header>
      <nav id="menubar">
        <ul><li><a href="top"><font face="IM Fell DW Pica SC">HOME</font></a></li>
        <li><a href="next"><font face="IM Fell DW Pica SC">SERVICE</font></a></li></ul>
      </nav>
      <main>
    <section>

    <h2>実装されている機能</h2>

    <h3>四則演算、不定積分、定積分</h3>
    <p>四則演算と不積分が出来ます。</p>
    <h3>練習問題</h3>
    <p>数学の練習問題を解くと頭の体操になります。ぜひ挑戦してみましょう。</p>

    </section>
    <section>
    <h2>最近のお知らせ</h2>
     <dl id="new">
       <dt>2022/06/17</dt><dd>近日、微分機能追加？</dd>
       <dt>2022/06/16</dt><dd>数値積分機能追加。</dd>
       <dt>2022/06/15</dt><dd>四則演算機能追加。</dd>
       <dt>2022/06/13</dt><dd>ああああああああ。</dd>
       <dt>2022/06/10</dt><dd>サービス開始。</dd>
     </dl>
   </section>
 </main>
   <footer>
     <ul class="icon">
       <li><a href="https://ja-jp.facebook.com/" target="_blank"><img src="/static/images/facebook.png" alt="Facebook"></a></li>
       <li><a href="https://twitter.com/nitic_pro" target="_blank"><img src="/static/images/twitter.png" alt="Twitter"></a></li>
       <li><a href="https://www.instagram.com/" target="_blank"><img src="/static/images/instagram.png" alt="Instagram"></a></li>
       <li><a href="https://www.youtube.com/c/YozoTAKIZAWA" target="_blank"><img src="/static/images/youtube.png" alt="YouTube"></a></li>
       <li><a href="https://line.me/ja/" target="_blank"><img src="/static/images/line.png" alt="LINE"></a></li>
     </ul>
     <small><a href="top">mathematics</a></small>
   </footer>
    </body>
</html>
